@charset "UTF-8";

* {

}

@media (max-width: 1150px) {
    body .primary {
    background-image: url(https://www.rockstargames.com/VI/_next/image?url=%2FVI%2F_next%2Fstatic%2Fmedia%2FJason_and_Lucia_02_tablet.7b2a24db.jpg&w=1920&q=75);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
}

@media (max-width: 650px) {
    body .primary {
    background-image: url(https://www.rockstargames.com/VI/_next/image?url=%2FVI%2F_next%2Fstatic%2Fmedia%2FJason_and_Lucia_02_portrait.54c6ce23.jpg&w=1920&q=75);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
}



body {
    margin: 0px;
    padding: 0px;
}

nav {
    z-index: 5;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    width: 90%;
    height: 75px;
    margin: 30px 0px;
}

nav .menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    right: 0;
    height: 80px;
    transition: all 0.3s;
    cursor: pointer;
}

nav .gtavi {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    right: 0;
    height: 45px;
    filter: brightness(0%) invert(100%);
    transition: all 0.3s;
    cursor: pointer;
}

nav .gtavi:hover {
    filter: brightness(100%);
    transition: all 0.3s;
}

nav .menu:hover {
    filter: contrast(1%);
    transition: all 0.3s;
}

.primary {
    background-image: url(https://www.rockstargames.com/VI/_next/image?url=%2FVI%2F_next%2Fstatic%2Fmedia%2FJason_and_Lucia_02_landscape.8aced7fd.jpg&w=1920&q=75);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.textcontent {
    background-color: rgb(10, 0, 25);
    width: 100%;
}

.textcontent p {
    color: white;
    margin: 0px auto;
    padding: 100px;
}

.segundo video {
    width: 100%;
    aspect-ratio: auto 16 / 9;
}
