@charset "UTF-8";

/* TELA */

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

header {
    background-color: gray;
}

h1 {
    text-align: center;
    padding: 10px;
}

h2 {
    padding: 10px;
}

menu {
    height: auto;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

ul {
    flex-direction: row;
    display: flex;
    height: auto;
}

li {
    width: 75px;
    background-color: aliceblue;
    margin: 0px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid black;
}

main {
    height: auto;
    width: 700px;
    margin: auto;
}

p {
    text-align: justify;
    padding: 5px 0px;
}