@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 720px) and (orientation: portrait) {
    body header > h1 {
        padding: 0px;
    }

    body header > menu {
        background-color: aquamarine;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body header > menu > ul {
        background-color: rgb(0, 128, 255);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        height: 50px;
    }

    body header > menu > ul > li {
        overflow-x: hidden;
        list-style-type: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body header > menu > ul > li > a {
        background-color: rgb(255, 0, 242);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100vw;
        border-radius: 10px;
        margin-right: 0px;
        color: black;
        text-decoration: none;
        font-size: 1.05em;
        transition: all 0.3s ease-in-out;
    }
    
    body main {
        height: auto;
        width: 100%;
        margin: auto;
        border-radius: 0px;
    }

    body main article > h2 {
        padding: 0px;
    }
    
    body main article > p {
        text-align: justify;
        padding: 0px 5px 20px 5px;
    }
}

body {
    background-color: lightgray;
}

header {
    background-color: gray;
    height: auto;
    width: 100%;
}

header > h1 {
    text-align: center;
    padding: 20px;
}

header > menu {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    height: 50px;
}

header > menu > ul {
    background-color: rgb(0, 128, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
}

header > menu > ul > li {
    list-style-type: none;
}

header > menu > ul > li > a {
    background-color: rgb(255, 0, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 85px;
    border-radius: 10px;
    margin-right: 2.5px;
    color: black;
    text-decoration: none;
    font-size: 1.05em;
    transition: all 0.3s ease-in-out;
}

header > menu > ul > li > a:hover {
    background-color: rgb(114, 26, 110);
    transition: all 0.3s ease-in-out;
    transform: scale(1.025);
}

main {
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
    height: auto;
    width: 700px;
    margin: auto;
}

main article > h2 {
    padding: 20px;
}

main article > p {
    text-align: justify;
    padding: 0px 30px 20px 30px;
}