@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 0px) and (max-width: 720px) {
    body header > h1 {
        padding: 20px;
    }

    body header > menu {
        background-color: transparent;
        display: block;
        height: 260px;
    }

    body header > menu > ul {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 50px;
    }

    body header > menu > ul > li {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        width: 100%;
    }

    body header > menu > ul > li > a {
        background-color: rgb(65, 65, 65);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100vw;
        border: 1px solid black;
        border-radius: 0px;
        margin-right: 0px;
        color: white;
        text-decoration: none;
        font-size: 0.9em;
        transition: background-color 0.3s ease-in-out;
    }
    
    body > header > menu > ul > li > a:hover {
        background-color: black;
        color: white;
        transition: background-color 0.3s ease-in-out;
        transform: scale(1);
    }

    body main {
        height: auto;
        width: 100%;
        margin: auto;
        border-radius: 0px;
    }

    body main article > h2 {
        padding: 20px;
    }
    
    body main article > p {
        text-align: justify;
        padding: 0px 30px 20px 30px;
    }
}

body {
    background-color: lightgray;
}

header {
    background-color: gray;
    height: auto;
    width: 100%;
}

header > h1 {
    text-align: center;
    padding: 20px;
}

header > menu {
    background-color: rgb(55, 55, 55);
    display: flex;
    align-items: center;
    height: 50px;
}

header > menu > ul {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
}

header > menu > ul > li {
    list-style-type: none;
}

header > menu > ul > li > a {
    background-color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 85px;
    border-radius: 10px;
    margin-right: 2.5px;
    color: white;
    text-decoration: none;
    font-size: 1.05em;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header > menu > ul > li > a:hover {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1.025);
}

main {
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
    height: auto;
    width: 700px;
    margin: auto;
}

main article > h2 {
    padding: 20px;
}

main article > p {
    text-indent: 10px;
    text-align: justify;
    padding: 0px 30px 20px 30px;
}