
* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    z-index: 10;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
} 

body {
    background-color: black;
}

img {
    height: auto;
    width: 100vw;
}

a {
    display: block;
    background-color: red;
    width: 100vw;
    text-decoration: none;
}

p {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    padding: 25px;
    transition: all 0.3s ease-in-out;
}

p:hover {
    transform: scale(1.025);
    transition: all 0.3s ease-in-out;
}
