@charset "UTF-8";

body {
    display: block;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 250, 240);
    overflow-y: hidden;
}

@media (max-width: 950px) {
    body footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    body footer > .footp  {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        background-color: transparent;
        position: fixed;
        bottom: 20px;
        width: 360px;
        height: 70px;
        left: 50%;
        transform: translateX(-50%);
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 750px;
    right: 0px;
    left: 0px;
    margin: 0px auto;
    padding: 0px;
    user-select: none;
}

main > .mfoto {
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 100px;
    bottom: 0px;
}

.mfoto > .miguel {
    width: 650px;
}

.h1center {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "BioSansREFont";
    position: fixed;
    z-index: 2;
    user-select: none;
    background-color: white;
    left: 62%;
    height: 750px;
    margin: 0px;
}

.h1center > .textcircle1 {
    font-size: 42.5px;
    position: absolute;
    width: 200px;
    top: 300px;
    left: 11px;
    margin: 0px;
}

.h1center > .textcircle2  {
    position: absolute;
    left: 2%;
    font-size: 120px;
    margin: 0px;
    padding: 0px;
}

main > .circle {
    position: fixed;
    background-image: linear-gradient(to bottom, rgb(255, 200, 0), rgb(255, 230, 0));
    border-radius: 50%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    width: 650px;
    height: 650px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > .footp  {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: transparent;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 360px;
    height: 70px;
    user-select: none;
}

.footp > .instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    margin: 0px 20px 0px 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.instagram > .footlink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footlink > .instaicon {
    align-items: center;
    justify-content: center;
    width: 46px;
}

.instagram:hover {
    background-color: rgb(210, 55, 125);
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.footp > .github {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    margin: 0px 20px 0px 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.github > .footlink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footlink > .giticon {
    align-items: center;
    justify-content: center;
    width: 42px;
}

.github:hover {
    background-color: rgb(45, 50, 60);
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.footp > .linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    margin: 0px 20px 0px 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.linkedin > .footlink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footlink > .linkedinicon {
    align-items: center;
    justify-content: center;
    width: 38px;
}

.linkedin:hover {
    background-color: rgb(10, 102, 194);
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.footp > .footnone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    margin: 0px 20px 0px 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.footnone > .footlink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footlink > .noneicon {
    align-items: center;
    justify-content: center;
    width: 42px;

}

.footnone:hover {
    background-color: rgb(170, 170, 170);
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}