@charset "UTF-8";

body {
    background-image: url(files/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

main {
    background-color: aliceblue;
    max-width: 500px;
    padding: 20px;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
}