@charset "UTF-8";

body {
    padding: 0px;
    margin: 0px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100%;
    width: 100%;
}

img {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0px solid rgb(255, 210, 0);
    width: 900px;
    height: 900px;
    transition: all 0.3s;
}

img:hover {
    box-sizing: border-box;
    border: 10px solid rgb(255, 210, 0);
    transition: all 0.3s ease-in-out;
    display: flex;
}