@charset "UTF-8";
@font-face {
    font-family: 'COD: Font';
    src: url(fonts/Flat-it\ -\ BioSans-Regular.otf) format(opentype);
}

* {
    font-family: 'COD: Font', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
    user-select: none;
}

body {
    background-color: rgb(0, 6, 41);
}

h1 {
    color: white;
    text-align: center;
}

.principal {
    background-color: rgba(240, 248, 255, 0.176);
    color: azure;
    text-align: center;
    margin: auto;
    width: 150px;
    border-radius: 5px;
}

.principal:hover {
    text-align: center;
    color: rgb(255, 255, 255);
    animation: headShake;
    animation-timing-function: ease-in-out;
    animation-duration: 9s;
    animation-iteration-count: unset;
}

@keyframes headShake {
    0% {
       transform: matrix(0px);
    }

     50% {
        transform: matrix(20px);
     }
}

h2 {
    color: white;
    text-align: center;
}

p {
    color: white;
    font-weight: normal;
    text-align: justify;
    text-indent: 15px;
}