@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    user-select: none;
    overflow-y: hidden;
}

@media (max-width: 425px) {
    body main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        background-image: linear-gradient(45deg, rgba(255, 255, 0, 0.2), rgb(200, 140, 150), rgba(0, 0, 255, 0.2));
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    body .frontcam {
        position: absolute;
        top: 3.5%;
        background-image: url(images/iframe-iphone-front.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 4.35%;
        width: 29.5%;
        z-index: 99999999;
    }


    body #celular {
        background-image: url(images/iframe-iphone[1].png);
        background-position: center;
        background-size: cover;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0.95);
    }

    body #conteudo {
        position: absolute;
        height: 95%; 
        width: 90%;
        border-radius: 12.5vw;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s ease-in-out;
        z-index: 1;
    }

    body .onoff {
        position: absolute;
        top: 31.5%;
        right: -1%;
        background-color: transparent;
        height: 12%;
        width: 2%;
    }

    body > #toggleBtn {
        border: none;
        position: absolute;
        background-color: transparent;
        height: 100%;
        width: 100%;
        border-radius: 25%;
        transition: all 0.3s ease-in-out;
    }

    body > #toggleBtn:hover {
        background-color: rgba(245, 245, 245, 0.5);
        transition: all 0.3s ease-in-out;
        filter: blur(5%);
    }

    body #imginsta {
        background-image: url(images/logo-instagram-hover.jpg);
        background-size: cover;
        height: 60px;
        width: 60px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    #imginsta:hover {
        filter: brightness(85%);
        transition: all 0.3s ease-in-out;
    }

    body #imgyoutube {
        background-image: url(images/logo-youtube-hover.jpg);
        background-size: cover;
        height: 60px;
        width: 60px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    body #imgyoutube:hover {
        filter: brightness(85%);
        transition: all 0.3s ease-in-out;
    }

    body #imggithub {
        background-image: url(images/logo-github-hover.jpg);
        background-size: cover;
        height: 60px;
        width: 60px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    body #imggithub:hover {
        filter: brightness(85%);
        transition: all 0.3s ease-in-out;
    }

    body #imgface {
        background-image: url(images/logo-facebook-hover.jpg);
        background-size: cover;
        height: 60px;
        width: 60px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    body #imgface:hover {
        filter: brightness(85%);
        transition: all 0.3s ease-in-out;
    }

    body #imgx {
        background-image: url(images/logo-x-hover.jpg);
        background-size: cover;
        height: 60px;
        width: 60px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    body #imgx:hover {
        filter: brightness(85%);
        transition: all 0.3s ease-in-out;
    }

    body .linkhome {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        bottom: 15%;
        height: 10%;
        width: 20%;
        border: none;
        transition: all 0.3s ease-in-out;
    }

    body .homecelular {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        opacity: 0%;
        position: absolute;
        height: 100%;
        width: 100%;
        border: none;
        transition: all 0.3s ease-in-out;
        z-index: 9999999;
    }

    body .homecelular:hover {
        opacity: 25%;
        transition: all 0.3s ease-in-out;
    }

    body .link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
        width: 21%;
        margin: 2%;
        margin-bottom: 3%;
    }

    body .redes {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        width: 85%;
        top: 9%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99999;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
    }

    body .rede {
        height: auto;
        width: 100%;
        border-radius: 25%;
        transition: all 0.3s ease-in-out;
    }

    body .rede:hover {
        filter: none;
        transition: all 0.3s ease-in-out;
    }
}

body {
    padding: 0px;
    margin: 0px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, rgba(255, 255, 0, 0.2), rgb(200, 140, 150), rgba(0, 0, 255, 0.2));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.frontcam {
    position: absolute;
    top: 25px;
    background-image: url(images/iframe-iphone-front.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 31px;
    width: 105px;
    z-index: 99999999;
}

#celular {
    background-image: url(images/iframe-iphone[1].png);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.1);
}

#conteudo {
    position: absolute;
    width: 312.5px;
    height: 680px; 
    border-radius: 45px;
    left: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.onoff {
    position: absolute;
    top: 227.5px;
    right: 0px;
    background-color: transparent;
    height: 80px;
    width: 5px;
}

#toggleBtn {
    border: none;
    position: absolute;
    background-color: transparent;
    height: 80px;
    width: 100%;
    border-radius: 25%;
    transition: all 0.3s ease-in-out;
}

#toggleBtn:hover {
    background-color: rgba(245, 245, 245, 0.5);
    transition: all 0.3s ease-in-out;
    filter: blur(1px);
}

.linkhome {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    position: absolute;
    bottom: 110px;
    width: 60px;
    height: 60px;
    border: none;
    transition: all 0.3s ease-in-out;
}

button {
    border: none;
}


#imginsta {
    background-image: url(images/logo-instagram.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

#imginsta:hover {
    background-image: url(images/logo-instagram-hover.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
}

#imgyoutube {
    background-image: url(images/logo-youtube.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

#imgyoutube:hover {
    background-image: url(images/logo-youtube-hover.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
}

#imggithub {
    background-image: url(images/logo-github.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

#imggithub:hover {
    background-image: url(images/logo-github-hover.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
}

#imgface {
    background-image: url(images/logo-facebook.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

#imgface:hover {
    background-image: url(images/logo-facebook-hover.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
}

#imgx {
    background-image: url(images/logo-x.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

#imgx:hover {
    background-image: url(images/logo-x-hover.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
}

.homecelular {
    border-radius: 50%;
    opacity: 10%;
    position: absolute;
    width: 60px;
    height: 60px;
    border: none;
    transition: all 0.3s ease-in-out;
    z-index: 9999999;
}

.homecelular:hover {
    opacity: 25%;
    transition: all 0.3s ease-in-out;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin: 7.5px;
    margin-bottom: 10px;
}

.redes {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 300px;
    top: 65px;
    left: 25px;
    z-index: 99999;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.rede {
    height: auto;
    width: 60px;
    border-radius: 25%;
    transition: all 0.3s ease-in-out;
}

.rede:hover {
    filter: none;
    transition: all 0.3s ease-in-out;
}