@charset "UTF-8";

* {
    font: normal normal 16px Arial, sans-serif;
    user-select: none;
}

body {
    background-color: rgb(255, 250, 240);
    margin: 0px 0px;
}

header {
    background-color: aliceblue;
    padding: 20px 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.155);
}

header > h1 {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    padding-left: 20px;
    display: inline;
    color: black;

}

nav {
    display: inline;
    text-align: right;
    padding-left: 20px;
}

nav > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-right: 10px;
}

nav > a:hover {
    text-decoration: underline;
    color: blueviolet;
}

main {
    background-color: rgb(0, 190, 190);
    margin: 20px 100px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.150);
    border-radius: 5px;
}

aside > p, abbr, a {
    color: rgb(50, 50, 50);
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 0px;

    & a {
        font-weight: bold;
    }

    & a:hover {
        color: blueviolet;
        text-decoration: underline;
    }
}

section > h2 {
    margin-top: 0px;
}

h2 {
    background-color: rgb(220, 105, 30);
    color: white;
    font-weight: bolder;
    display: inline;
    padding: 3px 10px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.150);
}

h2:hover {
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgb(220, 105, 30);
    color: rgb(220, 105, 30);
}

.anuncios {
    margin-bottom: 16px;
}

article > p {
    text-indent: 15px;
    text-align: justify;
}

footer.finalsite > p {
    background-color: rgb(138, 138, 138);
    text-align: center;
    font-style: italic;
    color: rgb(255, 255, 255);
    width: 300px;
    border: 5px outset rgb(255, 255, 255);
    border-radius: 90px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.155);
    padding: 10px 10px;
    margin: 20px auto;
    transition: transform 0.5s ease-in-out;
}

footer.finalsite > p:hover {
    transform: scale(1.05);
}
